@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("//fonts.googleapis.com/velopert/font-d2conding@1.2.1/d2conding.css");

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
}

a {
    text-decoration: inherit;
    color: inherit;   
}